// Stylesheet Variables

$blue-sapphire: #086788;
$cedar-chest: #D5573B;
$cosmic-latte: #FFF8E8;
$plum: #993399;
$forest-green-crayola: #60A561;

$color-grey-bright: #4b4b4b;
$color-grey-dark: #3f3f3f;
$color-grey-shadow: rgba(0, 0, 0, 0.25);
$color-grey-shadow-hover: rgba(0, 0, 0, 0.9);

$color-red: $cedar-chest;
$color-white: $cosmic-latte;
$color-purple: $plum;
$color-plum: $plum;
$color-green: $forest-green-crayola;
$color-blue: $blue-sapphire;
