@import "../styles/variables";

:root {
  --li-scale: 1.25;
  --li-scale-adj: 0.2;
  --li-pb: 0.25em;
}

.expense-item:hover {
  --li-pb: 0.75em;

  scale: var(--li-scale);
}

/* Select list item before the hovered one */
.expense-item:has(+ .expense-item:hover),
/* Select list item after the hovered one */
.expense-item:hover + .expense-item {
  --li-pb: 0.15em;
  --li-delay: 40ms;

  scale: calc(var(--li-scale) - var(--li-scale-adj));
  opacity: 0.85;
}

/* When a list item is being hovered,
select list items not hovered, or before/after hover */
.expenses:has(> :hover) .expense-item:not(:hover, :has(+ :hover), .expense-item:hover + *) {
  --list-pb: 0;
  --li-delay: 60ms;

  scale: calc(1 - var(--li-scale-adj));
  opacity: 0.75;
}

.expenses {
  list-style: none;
  padding: 0;
  display: grid;
  font-size: 1.15rem;
}

.expense-item {
  transition: all cubic-bezier(0.4, 0.8, 0.71, 1.03) 180ms;
  transition-delay: var(--li-delay, 0);
  padding-block: var(--li-pb);
  margin-inline: auto;
  width: 15ch;

  span {
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 0.5em;
  }
}

/* :has() support alert */
aside {
  max-width: 30ch;
  padding: 1rem;
  background-color: palegoldenrod;
  border-radius: 0.5rem;
  margin-block-end: 1rem;
  line-height: 1.3;

  code {
    font-size: 1.25rem;
    color: firebrick;
  }
}

@supports selector(:has(+ *)) {
  aside {
    display: none;
  }
}

body {
  background-color: $color-blue;
  font-size: 16px;
}

.expense-item {
  
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-bright;
  box-shadow: 0 2px 8px $color-grey-shadow;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 12px;

  &:hover {
    background-color: lighten($color-grey-bright, 5%);
    box-shadow: 0 4px 8px $color-grey-shadow-hover;
    transition: all 0.3s ease-in-out;
  }

  .expense-item__date {
    color: $color-white;
    flex-grow: 0;
    font-size: 1.25rem;
    gap: 1rem;
  }

  .expense-item__description {

    align-items: flex-start;
    color: $color-white;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    flex-grow: 1;
    gap: 1rem;
    min-width: 40%;

    h3 {
      font-size: 1.25rem;
      margin: 0;
      text-align: left;
      padding-left: 2rem;
    }
  }
    .expense-item__price {
      // align-items: flex-end;
      background-color: $cedar-chest;
      border: 4px solid $color-white;
      border-radius: 1rem;
      color: $color-white;
      // display: flex;
      // flex-direction: column;
      // flex-flow: column-reverse;
      flex-grow: 0;
      font-size: 1.25rem;
      font-weight: bold;
      gap: 1rem;
      padding: 0.5rem 1.5rem;
    }
  }


h2 {
  color: $color-white;
  font-size: 1.5rem;

  &.title {
    margin: auto;
    padding: 1rem 2rem 2rem 2rem;
    text-align: center;
    width: 100%;
  }
}

.money {

  background-image:url('../../public/money.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 10rem;
  margin: 2rem auto .25rem auto;
  width: 100%;

}