@import "../styles/variables";

body {
  background-color: $color-blue;
  font-size: 16px;
}

.expense-item {
  
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-bright;
  box-shadow: 0 2px 8px $color-grey-shadow;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 12px;

  &:hover {
    background-color: lighten($color-grey-bright, 5%);
    box-shadow: 0 4px 8px $color-grey-shadow-hover;
    transition: all 0.3s ease-in-out;
  }

  .expense-item__date {
    color: $color-white;
    flex-grow: 0;
    font-size: 1.25rem;
    gap: 1rem;
  }

  .expense-item__description {

    align-items: flex-start;
    color: $color-white;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    flex-grow: 1;
    gap: 1rem;
    min-width: 40%;

    h3 {
      font-size: 1.25rem;
      margin: 0;
      text-align: left;
      padding-left: 2rem;
    }
  }
    .expense-item__price {
      // align-items: flex-end;
      background-color: $cedar-chest;
      border: 4px solid $color-white;
      border-radius: 1rem;
      color: $color-white;
      // display: flex;
      // flex-direction: column;
      // flex-flow: column-reverse;
      flex-grow: 0;
      font-size: 1.25rem;
      font-weight: bold;
      gap: 1rem;
      padding: 0.5rem 1.5rem;
    }
  }


h2 {
  color: $color-white;
  font-size: 1.5rem;

  &.title {
    margin: auto;
    padding: 3rem 2rem 2rem 2rem;
    text-align: center;
    width: 100%;
  }
}

.money {

width: 100%;
height: 10rem;
background-image:url('../../public/money.svg');
background-position: center;
background-repeat: no-repeat;
background-size: contain;
margin: auto;


}