// NewExpense Component Styles

@import '../../styles/variables';

.wrapper-form {

    background-color: $color-plum;
    border: none;
    border-radius: .5rem;
    
    margin: auto;
    max-width: 30rem;
    padding: 1rem;

    width: auto;
}